node_modules
.serverless
yarn-error.log

apisls/node_modules
apisls/.serverless
apisls/yarn-error.log



react-query-class/logs
react-query-class/*.log
react-query-class/npm-debug.log*
react-query-class/yarn-debug.log*
react-query-class/yarn-error.log*
react-query-class/pnpm-debug.log*
react-query-class/lerna-debug.log*

react-query-class/node_modules
react-query-class/dist
react-query-class/dist-ssr
react-query-class/*.local

# Editor directories and files
react-query-class/.vscode/*
react-query-class/!.vscode/extensions.json
react-query-class/.idea
react-query-class/.DS_Store
react-query-class/*.suo
react-query-class/*.ntvs*
react-query-class/*.njsproj
react-query-class/*.sln
react-query-class/*.sw?

